.container1{
    width: 60%;
    height: 85%;
    position:absolute;
    background-color:aliceblue;
    margin:auto;
    top:10%;
    bottom: 10%;
    left: 20%;
    padding:10px
}
.a{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.b{
background-color: aliceblue;
border:none;
}
.c{
    display: block;
    width: 140px;
    background:rgb(139, 139, 238);
    color:#fff;
    padding:12px;
    margin:10px auto;
    border-radius:5px;
    cursor: pointer;

}
input{
display:none;
}

